---
import Card from "@/components/Card.astro";
import fetchApi from "@/lib/strapi";
import type Product from "@/interfaces/product";

const productsData = await fetchApi<Product[]>({
    endpoint: "products", // el tipo de contenido a obtener
    wrappedByKey: "data", // la clave para descomponer la respuesta
    query: {
        populate: "*", // agregar populate para obtener las imágenes
        "pagination[limit]": "4", // limitar los resultados a 5 productos
        "sort[0]": "createdAt:asc", // ordenar por ID ascendente
    },
});
---

<section class="mt-16">
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
        <!-- Header Section -->
        <div class="flex mb-12 justify-between">
            <h2 class="text-3xl font-bold text-gray-900 mb-4">
                Productos para tu Gasolinera
            </h2>
            <p class="text-lg text-gray-600 max-w-96 mr-0 hidden md:block">
                Encuentra todo el equipo y suministros que necesitas para
                mantener tu gasolinera funcionando de manera eficiente.
            </p>
        </div>

        <!-- Products Grid -->
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-8">
            {
                productsData.map((product) => (
                    <Card
                        title={product.name}
                        image={product.picture?.[0]?.url}
                        price={product.price}
                        alt={product.name}
                        href={`/products/${product.documentId}`}
                    />
                ))
            }
        </div>

        <!-- Call to Action -->
        <div class="text-center mt-12">
            <button
                class="bg-ultramarine-600 hover:bg-ultramarine-700 text-white font-medium py-3 px-8 rounded-lg transition-colors duration-200"
            >
                Ver Todos los Productos
            </button>
        </div>
    </div>
</section>
